@import 'src/styles/common.scss';

.amount {
  width: 15rem;
  @include flex(space-evenly, center);
  font-family: 'Dancing Script', cursive;

  &__sign {
    @extend %button;
    font-family: 'Dancing Script', cursive;
    color: $mainColor;
    font-size: 6.4em;
  }
  &__counter {
    font-size: 4.8em;
  }
}
.amount-for-table {
  @include flex(space-around, center);
  font-family: 'Dancing Script', cursive;
  &__sign {
    @extend %button;
    padding: 0;
    font-size: 1.6em;
    font-family: 'Dancing Script', cursive;
  }
  &__counter {
    font-size: 1.6em;
  }
}
