@import 'src/styles/common.scss';

.featured-product {
  margin: 1rem;
  @include flex(space-around, center);
  padding-bottom: 1rem;

  &__article {
    text-align: center;
  }
  &__menu {
    @include flex(space-between, center);
    flex-direction: column;
    background: rgba(239, 223, 7, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10%;
  }
  &__list {
    padding-left: 1rem;
    @include flex(center, center);
    flex-direction: column;
  }
  &__image {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: $whiteColor;
  }
  &__container {
    padding-left: 1rem;
    @include flex(normal, flex-start);
    flex-direction: column;
    font-family: 'Dancing Script', cursive;
  }
  &__name {
    margin-bottom: 0.2rem;
    font-size: 3rem;
  }
  &__description {
    font-size: 1.2rem;
  }
  &__price {
    font-size: 1rem;
  }
}
