@import 'src/styles/common.scss';

.items-data {
  text-align: center;
  &:nth-child(even) {
    background: $lighterYellowColor;
  }
  &__image {
    width: 5rem;
    height: 5rem;
    margin-top: 0.6rem;
  }
  &__name {
    display: block;
  }
  &__remover {
    @extend %button;
    font-size: 1rem;
    background: $lighterRedColor;
    padding: 0.5rem;
    color: $whiteColor;
  }
}
