@import 'src/styles/common.scss';

.menu {
  @include flex(center, center);
  flex-wrap: wrap;
  &__list {
    padding-left: 1rem;
    @include flex(center, center);
    &-link {
      @include flex(center, center);
      margin-left: 1rem;
      @include netbook {
        & {
          margin-left: 0.6rem;
        }
      }
      @include tablet {
        & {
          font-size: 1.6em;
        }
      }
    }
    &-icon {
      padding-left: 0.4rem;
      font-size: 0.8em;
    }
  }

  .order-count {
    position: absolute;
    top: 6%;
    right: 52.5%;
    font-size: 1.6em;
    color: $lighterRedColor;
  }
}
