@import 'src/styles/common.scss';
.cart-content {
  @include flex(normal, normal);
  flex-direction: column;
  flex: 1;
  font-family: 'Style Script', 'Marck Script', sans-serif;
  &__clear {
    @extend %button;
    font-family: 'Style Script', 'Marck Script', sans-serif;
    background-color: $lighterBlackColor;
    color: $whiteColor;
    border-radius: 10%;
  }
}

.link-container {
  margin: 2rem 3rem;
  @include flex(space-between, center);
}
