@import 'src/styles/common.scss';

.toggle-button {
  height: 0;
  width: 0;
  visibility: hidden;

  &-background {
    @include flex(space-between, center);
    cursor: pointer;
    width: 4rem;
    height: 2rem;
    background: $darkGreen;
    border-radius: 4rem;
    position: relative;
    transition: background-color 0.2s;
  }

  &-circle {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 2rem;
    height: 2rem;
    border-radius: 3rem;
    transition: 0.2s;
    background: $lighterYellowColor;
    box-shadow: 0 0 2px 0 $lighterBlackColor;
  }

  &:checked + &-background &-circle {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  &:checked + &-background {
    background: $whiteColor;
  }
  &-background:active &-circle {
    width: 4rem;
  }
}
