@import '/src/styles/common';
.date {
  margin-top: 1rem;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 10em;
  color: $mainColor;
}
.promoday {
  @include flex(center, normal);
  font-family: 'Dancing Script', cursive;
  &__text {
    font-size: 4em;
  }
  &__time {
    margin: 1rem 0;
    font-size: 2em;
    &_color {
      color: $lighterRedColor;
    }
  }
  &__description {
    margin: 0.6rem 0;
    font-size: 3em;
  }
  &__obligations {
    font-size: 3em;
    &_color {
      color: $lighterRedColor;
    }
  }
}
