@import 'src/styles/common.scss';

.order-form {
  margin: 5rem 1rem 0 1rem;
  @include flex(space-around, flex-start);
  flex-wrap: wrap;
  font-family: 'Dancing Script', 'Marck Script', cursive;
  &__footer-container {
    @include tablet {
      & {
        margin: 0 5rem;
      }
    }
  }
  &__info {
    color: $mainColor;
    text-align: center;
    margin-bottom: 2rem;
  }
  &__label {
    font-size: 1.6em;
  }
  &__group {
    @include flex(space-between, flex-end);
  }
  input[type='checkbox'] {
    margin-top: 1.6rem;
  }
  &__button {
    align-self: center;
    flex-grow: 0.3;
    border-radius: 12%;
    background-color: $greenSuccessColor;
    font-family: 'Dancing Script', 'Marck Script', cursive;
    font-size: 4em;
    color: $whiteColor;
  }
}
