@import 'src/styles/common.scss';

.card {
  @include flex(center, center);
  flex-direction: column;
  color: $whiteColor;
  padding: 2rem 0;

  &__header {
    margin: 1rem 0;
    font-family: 'Style Script', cursive;
  }

  &__information {
    @include flex(center, flex-start);
    flex-direction: column;
    &-list {
      @include flex(center, center);
      margin: 1rem 0;
    }
    &-icon {
      color: $mainColor;
      font-size: 1.8em;
    }
    &-text {
      font-family: 'Roboto', sans-serif;
      padding-left: 1rem;
    }
  }
}
