@import './mixin';
@import './reset';
@import './variables';
@import './fonts';

%button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 3em;
  padding: 0.1rem 1rem;
  border-radius: 13%;
}
%sliderIcon {
  top: 40%;
  font-size: 3rem;
  color: $whiteColor;
  background-color: $secondaryColor;
  z-index: 1;
  cursor: pointer;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 50%;
  padding-top: 0.2rem;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: 'Dancing Script', 'Marck Script';
  font-size: 2em;
  color: $secondaryColor;
  &:hover {
    border-bottom: 1px solid $mainColor;
  }
}
.container {
  max-width: 80rem;
  margin: 0 auto;
}
.is-darkGreen {
  background: $darkGreen;
  a,
  h1,
  h2,
  h3,
  h4,
  p,
  button,
  select,
  i,
  label,
  .views__icon {
    color: $whiteColor;
  }
  select {
    background: $darkGreen;
  }
}
.is-sidebar {
  .arrow {
    display: none;
  }
}
