@import 'src/styles/common.scss';

.product {
  @include flex(space-evenly, center);
  &__image {
    height: 25rem;
    width: 20rem;
    object-fit: contain;
  }
  &__info {
    @include flex(space-evenly, center);
    flex-direction: column;
    height: 15rem;
    font-family: 'Dancing Script', 'Marck Script', cursive;
  }
  &__name {
    font-size: 5em;
    font-size: 'Dancing Script', 'Marck Script', cursive;
  }
  &__price {
    color: $mainColor;
    font-size: 3em;
  }

  &__description {
    font-size: 3em;
  }
}
