@import 'src/styles/common.scss';

.modal {
  @include flex(space-around, center);
  flex-direction: column;
  font-family: 'Style Script', 'Marck Script', sans-serif;
  width: 30rem;
  height: 20rem;
  background-color: $lighterGrayColor;

  &__label {
    text-align: center;
    font-size: 5em;
    color: $greenSuccessColor;
  }
  &__button {
    @extend %button;
    font-family: 'Style Script', 'Marck Script', cursive;
    color: $whiteColor;
    background-color: $lighterRedColor;
  }
}
