@import 'src/styles/common.scss';

.navbar {
  @include flex(space-between);
  height: 8rem;
  &__container {
    @include flex(space-between);
    flex: 0.5;
  }

  &__logo {
    width: 6rem;
    height: 6rem;
  }

  &__menu {
    @include flex(space-evenly);
    &_link {
      padding-left: 1rem;
    }
  }
  &__hamburger {
    @extend %button;
    color: $MainColor;
    display: none;
  }
}
.navbar_menu:first-child {
  padding-left: 3rem;
}
