@import 'src/styles/common.scss';

.sidebar {
  @include flex(space-evenly, center);
  position: relative;
  padding-top: 5rem;
  flex-direction: column;
  z-index: 55;
  height: 100vh;
  width: 100%;
  margin-bottom: 30rem;

  &__menu {
    padding: 3rem 0;
    margin-left: 2rem;
    text-align: center;

    &-list {
      padding-top: 1rem;
    }
    &-link {
      font-size: 3.2em;
      @include tablet {
        & {
          font-size: 2em;
        }
      }
      @include mobile {
        & {
          font-size: 1.6em;
        }
      }
    }
  }
  &__times {
    position: absolute;
    @extend %button;
    top: 10%;
    right: 5%;
    color: $lighterRedColor;
  }
}
