@import 'src/styles/common.scss';

.sidebar {
  position: relative;
  padding-top: 5rem;
  @include flex(center);
  flex-direction: column;
  &__menu {
    padding: 4rem 0;
    &_list {
      padding-top: 1rem;
    }
  }
  &__times {
    position: absolute;
    @extend %button;
    top: 10%;
    right: 5%;
    color: #cf1717;
  }
}
