@import 'src/styles/common.scss';

.promocode {
  @include flex(space-evenly, center);
  font-family: 'Dancing Script', 'Marck Script', sans-serif;
  margin: 1rem 1rem;
  @include netbook {
    & {
      flex-direction: column;
    }
  }
  &-form {
    @include flex(center, center);
    &__label {
      font-size: 4em;
      @include netbook {
        & {
          font-size: 3em;
        }
      }
      @include tablet {
        & {
          font-size: 2em;
        }
      }
    }
    &__input {
      border: none;
      outline: none;
      margin: 0 1rem;
      font-family: 'Dancing Script', 'Marck Script', sans-serif;
      font-size: 2em;
      border-bottom: 1px solid $lighterGrayColor;
      &:focus {
        border-bottom: 1px solid $lighterBlackColor;
      }
    }
    &__submit {
      @extend %button;
      background-color: $lighterBlackColor;
      color: $whiteColor;
      font-family: 'Dancing Script', 'Marck Script', sans-serif;
      @include tablet {
        & {
          font-size: 1.8em;
        }
      }
    }
  }
}
