@import 'src/styles/common.scss';

.motto {
  @include flex(space-evenly, center);
  &__image {
    margin-top: 1rem;
    width: 40rem;
    height: 30rem;
  }
  &__svg {
    position: relative;
    width: 30rem;
    height: 25rem;
  }
  &__text {
    position: absolute;
    color: $whiteColor;
    right: 18rem;
    &_h2 {
      font-family: 'Style Script', cursive;
      padding-bottom: 2rem;
      font-size: 1.6rem;
    }
    &_h1 {
      font-family: 'Dancing Script', cursive;
      font-size: 2rem;
    }
  }
}
