@import 'src/styles/common.scss';

.slider {
  @include flex(center, center);
  height: 30rem;
  padding-bottom: 2rem;
  margin: 1rem 2rem;

  &__image {
    position: relative;
    width: 80rem;
    height: 30rem;
    border-radius: 2%;
    transition: all 1s ease-in;
    &:hover {
      transform: scale(1.05);
    }
    @include tablet {
      width: 50rem;
      height: 20rem;
    }
  }
}
.arrow {
  position: absolute;
  @extend %sliderIcon;
  &-rigth {
    right: 12rem;
    @include tablet {
      & {
        right: 2rem;
      }
    }
  }
  &-left {
    left: 12rem;
    @include tablet {
      & {
        left: 2rem;
      }
    }
  }
}
