@import 'src/styles/common.scss';

.accordion {
  @include flex(normal, center);
  flex-direction: column;
  max-width: 30rem;
  margin: 3rem auto;
  font-family: 'Dancing Script', 'Marck Script', cursive;

  &__title {
    @include flex(space-between, center);
    width: 27rem;
  }
  &__description {
    font-size: 2em;
    @include tablet {
      & {
        font-size: 1em;
      }
    }
  }
  &__label {
    font-size: 3em;
    color: $mainColor;
    @include tablet {
      & {
        font-size: 2em;
      }
    }
  }
  &__sign {
    font-size: 5em;
    color: $mainColor;
  }
}
