@import 'src/styles/common.scss';

.section {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $MainColor;
  &_text {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: $SecondaryColor;
  }
  &_link {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: $WhiteColor;
    &:hover {
      color: #fabb24;
    }
  }
}
