@import 'src/styles/common.scss';

.section {
  min-height: 8rem;
  @include flex(center, center);
  background: $mainColor;
  font-family: 'Roboto', 'Marck Script', sans-serif;

  &__text {
    font-family: 'Roboto', 'Marck Script', sans-serif;
    font-size: 2em;
    color: $secondaryColor;
  }

  &__link {
    font-family: 'Roboto', 'Marck Script', sans-serif;
    font-size: 1em;
    color: $whiteColor;
    &:hover {
      color: $lighterYellowColor;
    }
  }
  &__sign {
    color: $lighterRedColor;
  }

  &__middle-page {
    font-family: 'Roboto', 'Marck Script', sans-serif;
    color: $whiteColor;
    font-size: 1em;
    &:hover {
      color: $lighterYellowColor;
    }
  }
}
